<div [formGroup]="parent"> 
    <mat-form-field formGroupName="selector">
        <mat-select formControlName="product_id">
            <mat-option value="">Select Product</mat-option>
            <mat-option *ngFor="let product of products$ | async" 
            [value]="product"
            >{{product.productName}}</mat-option>
        </mat-select>
    </mat-form-field>
        <!--<app-stock-counter
        [step]="10"
        [min]="10"
        [max]="1000"
        formControlName="quantity"> 
        </app-stock-counter> -->       
        <button 
        mat-button color="primary"
        [disabled]="stockExists || notSelected">Add stock</button>
        <div *ngIf="stockExists" class="error">
            Item already exists in the the stock
        </div>
</div>